.header{
    position: fixed;
    height: 80px;
    width: 100%;
    max-height: 90px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    background-color: #F3AA9B;
}

.header-bg{
    background-color: #FFFFFF;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 12px;
}

.logo{
    display: block;
}

.logo-image{
    width: 136px;
    height: 32px;
    align-self: center;
    order: 0;
    flex-grow: 0;
}

.nav{

}

.nav-item{
    
}

.nav-list{
    display: flex;
    column-gap: 40px;
}

ul {
    list-style-type: none;
}






