.header{
    position: fixed;
    height: 60px;
    width: 100%;
    max-height: 90px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    padding-top: 30px;
    background-color: rgb(36, 36, 36);
}

.header-bg{
    background-color: #FFFFFF;
}

.bebece{
    width: 136px;
    height: 32px;
    align-self: center;
    order: 0;
    flex-grow: 0;
    margin-left: 150px;
}